/* Add your CSS to this file */
body {
    margin: 0;
    font-size: 18px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "NotoSans", sans-serif;
}

.container {
    margin: 0 auto;
    max-width: 960px;
    width: 100%;
}

header .container{

    display: flex;
    justify-content: space-between;
    background-color:white;
    align-items: baseline;
    font-size: 18px;

}

header li {

    list-style-type: none;
    display: inline;
    margin-left: 20px;
    

}

a{

    text-decoration: none;
    color:#6b7280;
}

a:hover{

    color: #5A67D8;
}

.overview-hero .container{

    display: flex;
    padding: 40px 300px 40px 300px;
    background-color: #E2E8F0;

}

.learn-about h2{

    color: #48BB78;

}

.learn-about h3 {

    color: #48BB78;
    font-size: 21px;
}

.stories h2,a{

    color: #5A67D8;
}

.stories h3 {

    font-size: 18px;

    
}

.overview-hero .overview-hero-image img{

    width: 200px;

}


.overview-hero .overview-hero-text{

}

.cards {

    display: grid;
    grid-template-columns: 1fr 1fr  1fr;

}

.card {

    border: solid;
    border-color: #E2E8F0;
    border-radius: 5px;
    box-shadow:5px 2px 2px #888888;
    margin-bottom: 10px;

}



img {

width: 50%


}


.testing .container{


    display: flex;
    justify-content: space-between;
    background-color: rgb(148, 148, 155);
    align-items: baseline;
    padding: 40px 300px 40px 300px;

}


.article-body{

    
    display: flex;
    flex-direction: column;
}

.stories img{
    
    width: 250px;
    float: left;
    border-radius: 500px;
    margin-left: 0px;
}


.newsletter .container{


    background-color:#48BB78;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px 300px 40px 300px;

}

.form-group{

    float: left;
}

.btn {

    background-color: #5A67D8;
    
}

footer .container {

    background-color:#4A5568;
    color: white;
    padding: 20px 300px 20px 300px;

}